body {
    background-color: #121212;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    object-fit: cover;
    z-index: 1;
}

.header {
    text-align: center;
    position: relative;
    z-index: 2;
    color: #FFF;
    margin-bottom: 50px;
    width: 100%;
}

.header h1 {
    font-size: clamp(30px, 8vw, 50px);
    margin-bottom: 10px;
}

.header h2 {
    font-size: clamp(18px, 5vw, 25px);
    margin: 0;
}

.header h3 {
    font-size: clamp(16px, 4.5vw, 22px);
    margin: 5px 0 0 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    gap: 15px;
    width: 100%;
    max-width: 300px;
    margin-top: 90px;
}

.form input {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    background-color: #393738;
    padding: 10px 15px;
    color: white;
}

.form input::placeholder {
    opacity: 0.4;
    color: white;
}

.form input[type="email"] {
    background-image: url('assets/email.webp');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    padding-left: 40px;
    text-align: left;
}

.form input[type="password"] {
    background-image: url('assets/cadeado.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    padding-left: 40px;
    text-align: left;
}

.form h3,
.form h4 {
    color: #FFF;
    opacity: 80%;
    font-size: 14px;
    margin: 0 0 5px 15px;
    text-align: left;
    position: relative;
    top: 15px;
    right: 140px;


}

.btn,
.btn1 {
    width: 100%;
    max-width: 191px;
    height: 56px;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.btn {
    background-color: #BB00CB;
}

.btn:hover {
    background-color: #a300b2;
}

.btn1 {
    background-color: transparent;
}