* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* animação de entrada */
.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

.active {
    color: #ffffff;
    background: #e72503;
    border: 1px solid #da2202;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #ec0902, 0 0 20px #e21203, 0 0 50px #a52d08,
        0 0 100px #df3704;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #000000, #111111, #222222);
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}